name: CD - Deploy Spring Boot (systemd)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build jar (skip tests)
        run: mvn clean package -DskipTests

      - name: Copy jar to app server
        run: |
          scp target/*.jar dev_01@10.110.20.107:/home/dev_01/sale-be/app.jar

      - name: Restart systemd service
        run: |
          ssh dev_01@10.110.20.107 "sudo systemctl restart sale-be"
