name: CI - Build Spring Boot

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build project
        env:
          DB_HOST_PASSWORD: ${{ secrets.DB_PASSWORD }}
        run: mvn clean verify
